<!doctype html>
<html>
<head>
	<title>Sophie Stehlik</title>
	<link href="styles//Styles.css" rel="stylesheet" type="text/css" />
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script src="scripts//script.js"></script>
</head>
	<body ng-app="myApp" ng-controller="MainController">
		<header>
			<h1>Sophie Stehlik - About</h1>
		</header>

		<div class="sidebar"> 
			<nav>
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="#">About</a></li>
					<li><a href="projects.html">Projects</a></li>
					<li><a href="hobbies.html">Hobbies</a></li>
					<li><a href="contact.html">Contact me</a></li>
				</ul>
			</nav>
		</div>

		<div class="content"> 
			<p>
				<h3>About me:</h3>
				<div class="smallimgcontainer">
					<img src="images//flags.jpg">
				</div>
				<div ng-repeat="element1 in aboutInfo">
					<strong>{{ element1.title }}</strong>
					<ul ng-repeat="element2 in element1.place">
						<li>
							<strong>{{ element2.name }}</strong>
							<ul ng-repeat="element3 in element2.description">
								<li>
									{{ element3.acomplishment }}
									<span ng-if="(element3.dateStart | date) != 'Dec 31, 1899'">
										<ul>
											<li>from: <em>{{element3.dateStart | date}}</em> to <span ng-if="(element3.dateEnd | date) != 'Dec 31, 1899'"><em>{{element3.dateEnd | date}}</em></span><span ng-if="(element3.dateEnd | date) == 'Dec 31, 1899'"><em>present</em></span></li>
										</ul>
									</span>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</p>
		</div>
		<footer>
			<p>
				<strong>Disclaimer:</strong>
				Outside basic factual information all opinions in what ever medium they take as 
				presented on this site are my own and do not necessarily reflect the position or
				values of any past, present, or future employers of mine.
			</p>
			Copyright:2020 Sophie Stehlik
		</footer>
	</body>
</html>