<!doctype html>
<html>
<head>
	<title>Sophie Stehlik</title>
	<link href="styles//Styles.css" rel="stylesheet" type="text/css" />
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script src="scripts//script.js"></script>
</head>
	<body ng-app="myApp" ng-controller="MainController">
		<header>
			<h1>Sophie Stehlik - Projects</h1>
		</header>

		<div class="sidebar"> 
			<nav>
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="about.html">About</a></li>
					<li><a href="#">Projects</a></li>
					<li><a href="hobbies.html">Hobbies</a></li>
					<li><a href="contact.html">Contact me</a></li>
				</ul>
			</nav>
		</div>

		<div class="content">
			<p>
				<div ng-repeat="element in projectInfo">
					<strong>{{element.name}}</strong><br/>
					<ul>
						<li>{{element.description}}</li>
						<li><em>{{element.details}}</em></li>
						<span ng-if="(element.date | date) != 'Dec 31, 1899'">
							<li>Date: {{element.date | date}}</li>
						</span>
						<span ng-if="element.link != ''">
							<li><a href={{element.link}}>link</a></li>
						</span>
					</ul><br/>
				</div>
			</p>
		</div>
		<footer>
			<p>
				<strong>Disclaimer:</strong>
				Outside basic factual information all opinions in what ever medium they take as 
				presented on this site are my own and do not necessarily reflect the position or
				values of any past, present, or future employers of mine.
			</p>
			Copyright:2020 Sophie Stehlik
		</footer>
	</body>
</html>